@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Raleway&display=swap");
@import url("https://use.fontawesome.com/d0c316cf02.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

.title {
  font-family: Staatliches;

  /* make text non-selectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.sName {
  font-family: Raleway;
}

hr {
  border: none;
  height: 1px;
  color: black;
  background-color: black;
  width: 100%;
}
