@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Raleway&family=Roboto&display=swap");
@import url("https://use.fontawesome.com/d0c316cf02.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

.title, .navbar-logo {
  font-family: Staatliches;

  /* make text non-selectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.sName {
  font-family: Raleway;
}

hr {
  border: none;
  height: 1px;
  color: black;
  background-color: black;
  width: 100%;
}

.icon-box {
  position: relative;
  border: 1px solid black;
  border-radius: 8px 8px 0 8px;
  overflow: hidden;

  .icon-box-image {

  }
}

.icon-box-level-badge {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(255,255,255,0.85);
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-size: 0.8em;
  padding: 0 4px;
  font-weight: 600;
  
}

.champion-stats-container {
  
}

.champion-stats {
  width: 80vw;
  height: 127px;
  // border: 1px solid black;
  font-family: Roboto;
}

.champion-icon {
  width: 100px;
  height: 125px;
  text-align: center;

  .champion-icon-image {
    width: 90px;
    height: 90px;
  }

  .champion-name-label {
    background: #454545;
    color: white;
    width: 90px;
    justify-content: center;
  }
}